.Statistics {
  ul {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    li {
      flex: 1;
      flex-basis: 25%;
    }
  }

  .StatisticItem {
    position: relative;
    .title {
      display: flex;
      flex-flow: column wrap;
      justify-content: flex-start;
      z-index: 0;

      span {
        &:nth-child(2) {
          font-size: 12px;
          line-height: 12px;
          color: #999;
          padding: 6px 0 2px;
        }
        &:last-child {
          display: block;
          font-size: 30px;
          color: #666;
          font-weight: 400;
        }
      }
    }

    .chart {
      position: absolute;
      left: 0;
      top: 0;
      transform: translate(-24%, -10%);
      z-index: -1;
    }
  }
}
