$color-border: #ddd;

#Index {
  max-width: 1000px;
  margin: auto;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
    border-bottom: 1px solid $color-border;

    .logout {
      button {
        margin-left: 1em;
      }
    }
  }

  > main {
    display: flex;
    justify-content: space-between;
  }
}
